@inherits MvcContrib.FluentHtml.ModelWebViewPage<JobPortal.Core.Domain.User.SendMail>
              
        <script src="@Url.Content("~/Content/JS/ckeditor/config.js")"></script>
        <script src="@Url.Content("~/Content/JS/ckeditor/ckeditor.js")"></script>
@if(Model != null)
{@Html.HiddenFor(m=>m.To)
                        
    Session["ListofCandidate"] = Model.To.ToList();
    
    <div id="EmployerEmailDetail">
        <div class="span3 form-inline"> @*control-group*@
            @Html.Label("Email")
            @Html.TextBoxFor(m => m.EMainDetail.Email)
        </div>
        <div class="span3">
            @Html.Label("Password")
            @Html.PasswordFor(m=>m.EMainDetail.Password)
        </div> 
    </div>
    <a href="#" style="display: none" id="EnterEmailDetail" onclick="No()">Add Email</a>
    <br/>
    <div class="form-inline span4">
        <div class="control-group">
            <div class="controls">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" onclick="yes()">
                    <label class="control-label radio"> ByCompany Email</label>
            </div>
        </div>
        <div class="form-inline">
            <label style="-webkit-font-smoothing: antialiased;color: green;font-weight: bold">To &nbsp;
                @for (int i = 0; i < Model.To.Count; i++)
                {
                    @Html.DisplayFor(m=>m.To[i])
                }
                </label>
        </div>
        <div class="control-group">
            <label style="-webkit-font-smoothing: antialiased;color: green;font-weight: bold">Cc &nbsp;
                joshi.vishal079@gmail.com
            </label>
        </div>
        <div class="control-group">
            <label class="control-label">Subject</label>
            <div class="control-label">
                @Html.TextBoxFor(m => m.Subject)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Body</label>
            <div class="control-label">
                @Html.TextAreaFor(m => m.Body, new { @class = "ckeditor" })
            </div>
        </div>
    </div>
    
}
else
{
    <p>Your Mail is Successfully send</p>
}

<script>
    $(document).ready(function () {
        $("#SeeAllCandidate").click(function () {
            $("#SeeAllCandidate").hide();
            $("#ListOfCandidate").slideDown("Fast");

        });
        $("#HideAllCandidate").click(function () {
            $("#ListOfCandidate").slideUp("Fast");
            $("#SeeAllCandidate").show();
        });
    });

    $(document).ready(function() {
        $(function() {
            $(".ckeditor").CKEDITOR();

        });
    });
    function yes() {
        $("#EmployerEmailDetail").slideUp("Fast");
        $("#EnterEmailDetail").show();
    }

    function No() {
        $("#EnterEmailDetail").hide();
        $("#EmployerEmailDetail").slideDown("Fast");
        $("#optionsRadios1").attr('checked', false);
    }
</script>